<h2 id="first">1.What is Observable | Observables</h2>
<p>
    we use observables to perform asynchronous
    operation and handle asynchronous data
    another way of performing asynchronous
    operation in javascript and handling
    asynchronous data is by using promises so
    we can handle asynchronous operation in
    angular using either promises or observables 
</p><br>
<p>
    now what is asynchronous operation and asynchronous data
    well we already know that javascript is a single threaded programming language
    that means the code is executed line by line and once the execution of one code
    is complete then only the next code in the program will be executed right
    so if a task takes long time in its execution for example let's say we are
    making an http request to the server in that case it is going to take some
    time right so the next statement after that http request will have to wait for its
    execution it will only get executed when the http request completes<br>
    so we can say that the synchronous code is blocking in nature
    and this is where asynchronous programming comes into picture
    an asynchronous code executes in the background without blocking the execution of the code in the main thread
    okay so an asynchronous code is non-blocking that means we can make http request
    asynchronously in that case it will run in the background and the next code
    after that http request will be executed immediately in the main thread
    so in this case the http request will not block the execution of next line of
    code ok so using asynchronous program we can
    perform long network requests without blocking the main thread
</p><br>