<h4>How to create a observable</h4>
<img src="/assets/img/ang/observable/02.png" alt=""><br>
<img src="/assets/img/ang/observable/04.png" alt="">
<p>
    observer and this argument will be injected by rxjs library<br>
    and this observer is nothing but the subscriber, which is waiting for data <br>
    <span style="color: teal; background-color: whitesmoke;">observable.next('')</span> is
    for emit (արձակել)tha data
</p>
<video src="/assets/img/ang/observable/video/02.mp4" controls width="75%"></video>
<p>
    this subscribe method takes three optional parameters
    and these parameters are callback functions
    so the first callback function is next the second callback function is error
    and the third callback function is complete and all these three parameters
    are optional okay and all these three are callback functions
</p>
<hr>