<h2>Understanding Operators of RxJS </h2>
<p>
    Operators in rxjs are simply functions that takes an observable as an
    input and transform it into a new observable and then it returns it
    we use operators to manipulate the observable data stream
</p>
<p>import  map  from 'rxjs/operators'</p>
<img src="/assets/img/ang/observable/15.png"  alt=""><br>
<p>result</p>
<img src="/assets/img/ang/observable/16.png"  alt=""><br>
<p>We also can use like this</p>
<img src="/assets/img/ang/observable/17.png"  alt=""><br>
<p>and the result is</p>
<img src="/assets/img/ang/observable/18.png"  alt=""><br>
<p>That's mean that at first is activing map method and return a new observable and after it 
    for this new observable we use a filter method
</p>