<h2 (click)="disp('route')">Route Guard</h2>
<div class="queryParam generalCont" [ngClass]="{'disp': !route, 'op': route}" >
    <div class="pCont">
        <p>
            Angular Route guards can be used to control whether  the 
            user can navigate to or away from the given route based on some consition
        </p>
        <h4>Use case of Route Guards</h4>
        <ul>
            <li>To confirm the navigation operation</li>
            <li></li>
        </ul>
    </div>
    <div class="hide" (click)="disp('route')">.</div>
</div>