<h4>The difference between Promise and Observable</h4>
<p>
    so let's say we are creating an
    application which needs some data from
    the server
    so let's say we are requesting a list of
    users from the server
    in that case from our application we
    will send a request to the server
    now the server will get this data either
    from the database or from the web api
    now let's say the data which we are
    requesting is huge
    in that case the server will take some
    time to gather that data okay so let's
    say we have one million user in our
    database so in order to get that one
    million user the server will take some
    time to gather all the data
    and once the data is available it will create a response and
    it will send that data with the response
    to the client
    so here the server gathered all the data
    and once the data is ready it sent all
    that data at once to the client
    and this is how a promise works
    a promise promises us some data and it
    provides us the data over a period of
    time
    and a promise provides us the data once
    the complete data is ready
</p><br>
<img src="../../../assets/img/ang/observable/01.png" width="450px" alt=""><br>
<video src="../../../assets/img/ang/observable/video/01.mp4" controls width="75%"></video>